FORMAT: 1A
HOST: http://api-jakgo.fzlrhmn.com/

# API jakgo

API Jakgo merupakan sebuah layanan yang menyediakan informasi data yang ada di lingkup Pemerintah Provinsi DKI Jakarta.
Data ini mencakup semua bidang yang ada di Provinsi DKI Jakarta seperti Kesehatan, Kebersihan, Transportasi, dll.

Sample Calls:

**Batas Administrasi Kecamatan**
[api-jakgo.fzlrhmn.com/api/v1/kecamatan?api_token=q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk](http://api-jakgo.fzlrhmn.com/api/v1/kecamatan?api_token=q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk)

**Batas Administrasi Kelurahan**
[api-jakgo.fzlrhmn.com/api/v1/kelurahan?api_token=q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk&shape=true](http://api-jakgo.fzlrhmn.com/api/v1/kelurahan?api_token=q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk&shape=true)

## Kota [/api/v1/kota/{kode_kota}?api_token={api_token}&format={format}]

### Data Kota [GET]

+ Parameters
    + kode_kota (optional, array, `3174`) ... kode_kota of the kota (city) itself. use comma without whitespace if want to get more than one data, i.e '3174,3175'.
    + format (optional, string, `geojson`) ... String of the response format that the response will show.
    + api_token (required, string, `q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk`) ... String `api_token` of the application.

+ Response 200 (application/json)
    {
        "status": "success",
        "count": 5,
        "data": [
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3174,
                "nama_kota": "Jakarta Barat"
            },
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3173,
                "nama_kota": "Jakarta Pusat"
            },
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3171,
                "nama_kota": "Jakarta Selatan"
            },
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3172,
                "nama_kota": "Jakarta Timur"
            },
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3175,
                "nama_kota": "Jakarta Utara"
            }
        ]
    }

## Kecamatan [/api/v1/kecamatan/{kode_kecamatan}?api_token={api_token}&format={format}]

### Data Kecamatan [GET]

+ Parameters
    + kode_kecamatan (optional, array, `3175060`) ... kode_kecamatan of the kecamatan itself, use comma without whitespace if want to get more than one data, i.e '3172040,3172050'.
    + format (optional, string, `geojson`) ... String of the response format that the response will show.
    + api_token (required, string, `q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk`) ... String `api_token` of the application.

+ Response 200 (application/json)

        {
          "status": "success",
          "count": 42,
          "data": [
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172040,
              "nama_kecamatan": "Makasar"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171010,
              "nama_kecamatan": "Jagakarsa"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172010,
              "nama_kecamatan": "Pasar Rebo"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172020,
              "nama_kecamatan": "Ciracas"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172030,
              "nama_kecamatan": "Cipayung"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171030,
              "nama_kecamatan": "Cilandak"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171020,
              "nama_kecamatan": "Pasar Minggu"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171060,
              "nama_kecamatan": "Kebayoran Baru"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172050,
              "nama_kecamatan": "Kramat Jati"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171050,
              "nama_kecamatan": "Kebayoran Lama"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171080,
              "nama_kecamatan": "Pancoran"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173010,
              "nama_kecamatan": "Tanah Abang"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171070,
              "nama_kecamatan": "Mampang Prapatan"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171040,
              "nama_kecamatan": "Pesanggrahan"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172070,
              "nama_kecamatan": "Duren Sawit"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172060,
              "nama_kecamatan": "Jatinegara"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171090,
              "nama_kecamatan": "Tebet"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3171,
              "nama_kota": "Jakarta Selatan",
              "kode_kecamatan": 3171100,
              "nama_kecamatan": "Setiabudi"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172100,
              "nama_kecamatan": "Matraman"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173020,
              "nama_kecamatan": "Menteng"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173040,
              "nama_kecamatan": "Johar Baru"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174030,
              "nama_kecamatan": "Palmerah"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173030,
              "nama_kecamatan": "Senen"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172090,
              "nama_kecamatan": "Pulo Gadung"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173050,
              "nama_kecamatan": "Cempaka Putih"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173080,
              "nama_kecamatan": "Gambir"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174020,
              "nama_kecamatan": "Kebon Jeruk"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174010,
              "nama_kecamatan": "Kembangan"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3172,
              "nama_kota": "Jakarta Timur",
              "kode_kecamatan": 3172080,
              "nama_kecamatan": "Cakung"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173060,
              "nama_kecamatan": "Kemayoran"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174040,
              "nama_kecamatan": "Grogol Petamburan"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3175,
              "nama_kota": "Jakarta Utara",
              "kode_kecamatan": 3175050,
              "nama_kecamatan": "Kelapa Gading"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3173,
              "nama_kota": "Jakarta Pusat",
              "kode_kecamatan": 3173070,
              "nama_kecamatan": "Sawah Besar"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174050,
              "nama_kecamatan": "Tambora"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174060,
              "nama_kecamatan": "Taman Sari"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174070,
              "nama_kecamatan": "Cengkareng"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3175,
              "nama_kota": "Jakarta Utara",
              "kode_kecamatan": 3175020,
              "nama_kecamatan": "Pademangan"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3175,
              "nama_kota": "Jakarta Utara",
              "kode_kecamatan": 3175040,
              "nama_kecamatan": "Koja"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3174,
              "nama_kota": "Jakarta Barat",
              "kode_kecamatan": 3174080,
              "nama_kecamatan": "Kalideres"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3175,
              "nama_kota": "Jakarta Utara",
              "kode_kecamatan": 3175030,
              "nama_kecamatan": "Tanjung Priok"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3175,
              "nama_kota": "Jakarta Utara",
              "kode_kecamatan": 3175010,
              "nama_kecamatan": "Penjaringan"
            },
            {
              "kode_provinsi": 31,
              "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
              "kode_kota": 3175,
              "nama_kota": "Jakarta Utara",
              "kode_kecamatan": 3175060,
              "nama_kecamatan": "Cilincing"
            }
          ]
        }
        
## Kelurahan [/api/v1/kelurahan/{kode_kelurahan}?api_token={api_token}&format={format}]

### Data Kelurahan [GET]

+ Parameters
    + kode_kelurahan (optional, array, `3174020007`) ... kode_kelurahan of the kota (city) itself. use comma without whitespace if want to get more than one data, i.e '3174020007,3174020006'.
    + format (optional, string, `geojson`) ... String of the response format that the response will show.
    + api_token (required, string, `q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk`) ... String `api_token` of the application.
    
+ Response 200 (application/json)
    {
        "status": "success",
        "count": 377,
        "data": [
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3171,
                "nama_kota": "Jakarta Selatan",
                "kode_kecamatan": 3171010,
                "nama_kecamatan": "Jagakarsa",
                "kode_kelurahan": 3171010001,
                "nama_kelurahan": "Cipedak"
            },
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3101,
                "nama_kota": "KEPULAUAN SERIBU",
                "kode_kecamatan": 3101010,
                "nama_kecamatan": "KEPULAUAN SERIBU SELATAN",
                "kode_kelurahan": 3101010003,
                "nama_kelurahan": "PULAU UNTUNG JAWA"
            },
            {
                "kode_provinsi": 31,
                "nama_provinsi": "DAERAH KHUSUS IBUKOTA JAKARTA",
                "kode_kota": 3101,
                "nama_kota": "KEPULAUAN SERIBU",
                "kode_kecamatan": 3101010,
                "nama_kecamatan": "KEPULAUAN SERIBU SELATAN",
                "kode_kelurahan": 3101010003,
                "nama_kelurahan": "PULAU UNTUNG JAWA"
            }
        ]
    }

## RW [/api/v1/rw/{kode_rw}?api_token={api_token}&format={format}&page={page}]

### Data RW [GET]

+ Parameters
    + kode_rw (optional, array, `3174070005001000`) ... kode_rw of the kota (city) itself. use comma without whitespace if want to get more than one data, i.e '3174070005001000,3174070005002000'.
    + format (optional, string, `geojson`) ... String of the response format that the response will show.
    + api_token (required, string, `q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk`) ... String `api_token` of the application.
    + page (required, string, `1`) ... Number of page that show. This API show 200 RW per call.

+ Response 200 (application/json)
        {
            "data": [
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005013000,
                  "nama_rw": "RW 13"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005014000,
                  "nama_rw": "RW 14"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005015000,
                  "nama_rw": "RW 15"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005016000,
                  "nama_rw": "RW 16"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174070,
                  "nama_kecamatan": "CENGKARENG",
                  "kode_kelurahan": 3174070005,
                  "nama_kelurahan": "CENGKARENG TIMUR",
                  "kode_rw": 3174070005017000,
                  "nama_rw": "RW 17"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040004,
                  "nama_kelurahan": "GROGOL",
                  "kode_rw": 3174040004010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005011000,
                  "nama_rw": "RW 011"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040005,
                  "nama_kelurahan": "JELAMBAR",
                  "kode_rw": 3174040005010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040007,
                  "nama_kelurahan": "JELAMBAR BARU",
                  "kode_rw": 3174040007012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040002,
                  "nama_kelurahan": "TANJUNG DUREN SELATAN",
                  "kode_rw": 3174040002007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040001,
                  "nama_kelurahan": "TANJUNG DUREN UTARA",
                  "kode_rw": 3174040001007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003016000,
                  "nama_rw": "RW 016"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003013000,
                  "nama_rw": "RW 13"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003014000,
                  "nama_rw": "RW 14"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040003,
                  "nama_kelurahan": "TOMANG",
                  "kode_rw": 3174040003015000,
                  "nama_rw": "RW 15"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174040,
                  "nama_kecamatan": "GROGOL PETAMBURAN",
                  "kode_kelurahan": 3174040006,
                  "nama_kelurahan": "WIJAYA KESUMA",
                  "kode_rw": 3174040006010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002013000,
                  "nama_rw": "RW 13"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002014000,
                  "nama_rw": "RW 14"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002015000,
                  "nama_rw": "RW 15"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002016000,
                  "nama_rw": "RW 16"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080002,
                  "nama_kelurahan": "KALIDERES",
                  "kode_rw": 3174080002017000,
                  "nama_rw": "RW 17"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080005,
                  "nama_kelurahan": "KAMAL",
                  "kode_rw": 3174080005010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003013000,
                  "nama_rw": "RW 13"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003014000,
                  "nama_rw": "RW 14"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003015000,
                  "nama_rw": "RW 15"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003016000,
                  "nama_rw": "RW 16"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003017000,
                  "nama_rw": "RW 17"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003018000,
                  "nama_rw": "RW 18"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080003,
                  "nama_kelurahan": "PEGADUNGAN",
                  "kode_rw": 3174080003019000,
                  "nama_rw": "RW 19"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174080,
                  "nama_kecamatan": "KALI DERES",
                  "kode_kelurahan": 3174080001,
                  "nama_kelurahan": "SEMANAN",
                  "kode_rw": 3174080001012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005013000,
                  "nama_rw": "RW 13"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020005,
                  "nama_kelurahan": "DURI KEPA",
                  "kode_rw": 3174020005014000,
                  "nama_rw": "RW 14"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004009000,
                  "nama_rw": "RW 09"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004010000,
                  "nama_rw": "RW 10"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004011000,
                  "nama_rw": "RW 11"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004012000,
                  "nama_rw": "RW 12"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020004,
                  "nama_kelurahan": "KEBON JERUK",
                  "kode_rw": 3174020004013000,
                  "nama_rw": "RW 13"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020006,
                  "nama_kelurahan": "KEDOYA SELATAN",
                  "kode_rw": 3174020006001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020006,
                  "nama_kelurahan": "KEDOYA SELATAN",
                  "kode_rw": 3174020006002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020006,
                  "nama_kelurahan": "KEDOYA SELATAN",
                  "kode_rw": 3174020006003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020006,
                  "nama_kelurahan": "KEDOYA SELATAN",
                  "kode_rw": 3174020006004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020006,
                  "nama_kelurahan": "KEDOYA SELATAN",
                  "kode_rw": 3174020006005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020003,
                  "nama_kelurahan": "KELAPA DUA",
                  "kode_rw": 3174020003008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001003000,
                  "nama_rw": "RW 03"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001004000,
                  "nama_rw": "RW 04"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001005000,
                  "nama_rw": "RW 05"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001006000,
                  "nama_rw": "RW 06"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001007000,
                  "nama_rw": "RW 07"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020001,
                  "nama_kelurahan": "SUKABUMI SELATAN",
                  "kode_rw": 3174020001008000,
                  "nama_rw": "RW 08"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020002,
                  "nama_kelurahan": "SUKABUMI UTARA",
                  "kode_rw": 3174020002001000,
                  "nama_rw": "RW 01"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020002,
                  "nama_kelurahan": "SUKABUMI UTARA",
                  "kode_rw": 3174020002002000,
                  "nama_rw": "RW 02"
                },
                {
                  "kode_kota": 3174,
                  "nama_kota": "JAKARTA BARAT",
                  "kode_kecamatan": 3174020,
                  "nama_kecamatan": "KEBON JERUK",
                  "kode_kelurahan": 3174020002,
                  "nama_kelurahan": "SUKABUMI UTARA",
                  "kode_rw": 3174020002003000,
                  "nama_rw": "RW 03"
                }
            ],
                "meta": {
                    "pagination": {
                        "total": 2732,
                        "count": 200,
                        "per_page": 200,
                        "current_page": 1,
                        "total_pages": 14,
                        "links": {
                            "next": "http://api-jakgo.fzlrhmn.com/api/v1/rw?page=2"
                        }
                }
            }
        }

## Tempat Pembuangan Sampah Sementara [/api/v1/tps/{id}?api_token={api_token}&format={format}&page={page}]

### Data Tempat Pembuangan Sampah Sementara [GET]

+ Parameters
    + id (optional, array, `1`) ... id of the TPS itself. use comma without whitespace if want to get more than one data, i.e '1,2'.
    + format (optional, string, `geojson`) ... String of the response format that the response will show.
    + api_token (required, string, `q06qb1eTOimT7sc9nMQfkzCKBYEzePXwYbWpEaEk`) ... String `api_token` of the application.
    + page (required, string, `1`) ... Number of page that show. This API show 200 RW per call.

+ Response 200 (application/json)
    {
        "data": [
            {
              "id": 1,
              "nama_tps": "TPS Albo RW 08",
              "kode_kota": 3172,
              "kode_kecamatan": 3172080,
              "kode_kelurahan": 3172080006,
              "location": {
                "alamat": 0,
                "latitude": -6.168268025,
[...]
